* {
  margin: 0;
  padding: 0;
}

.list-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 360px;
  /* gap: 18px; */
  /* background-color: red; */
}

.list-container:not(:last-of-type) {
  margin-bottom: 10px;
}

.img-n-job {
  display: flex;
  gap: 8px;
  align-self: center;
}

.img-n-job img {
  align-self: center;
}

.name-n-job {
  font-family: inter, sans-serif;
  align-self: center;
}

.name-n-job p {
  font-size: 16px;
  font-weight: 500;
  color: #131f38;
  margin-bottom: 8px;
}

.job {
  display: inline;
  padding: 4px 10px;
  border-radius: 4px;
  background-color: #ffe9ae;
  font-size: 14px;
  color: #131f38;
  min-width: 82px;
}

.cta {
  background-color: #3968e2;
  border: none;
  border-radius: 5px;
  padding: 13px 16px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: inter, sans-serif;
  align-self: center;
}

.center-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Center-list centers all the list item */
